/* Primary Colors */

$purple     : #993FFF;
$blue       : #44ADDC;
$green      : #16E8CA;
$greyFooter : #333333;

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato|Nunito+Sans|Raleway&display=swap');

.clearfix {
    clear: both;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    min-height: 100%;
    position: relative;
}

.app-content {
    padding-bottom: 185px;

    @media (max-width: 767.98px) {
        padding-bottom: 255px;
    }
}

/* NAVBAR SECTION */

.navbar {
  .img-container {
    width: 160px;
    height: 40px;
    position: relative;

    img {
      position: absolute;
      width: 160px;
      height: 40px;
    }
  }

  @media (max-width: 992px) {
    .form-control {
      width: 100%;
    }

    button {
      margin-top: .5rem!important;
    }
  }

  .nav-item {
    margin: 0 15px;
  }

  .nav-link {
    color: $purple !important;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      display: block;
      margin-top: 8px;
      right: 0;
      background: $green;
      transition: width .2s ease;
      -webkit-transition: width .2s ease;
    }

    &:hover:after {
      width: 100%;
      left: 0;
      background: $green;
    }
  }

  .active {
    border-bottom: 1.5px solid $green;
  }
}

.searchPlaceholder {
  border: 1px solid $purple !important;
}

.searchButton {
  border: 1px solid $purple;
  color: $purple;

  &:hover {
    background-color: $purple;
    color: #FFFFFF;
  }
}

/* END SECTION */

/* HOME SECTION */

.home {
  padding: 25px;

  .selectedCategory {
    color: $purple;
    font-weight: bold;
  }

  .searchPlaceholder {
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
  }

  .searchButton {
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-left: 0;
    background-color: $purple;
    color: #FFFFFF;
  }

  .filters-mobile {
    display: none;

    .filters-mobile-content {
      border: 1px solid $purple;

      border-top-left-radius: 0px;
      -webkit-border-top-left-radius: 0px;
      border-bottom-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
    }

    .buttonNoRadius {
      border-bottom-left-radius: 0px !important;
      -webkit-border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      -webkit-border-bottom-right-radius: 0px !important;
    }

    div {
      cursor: pointer;
    }

    h1 {
      font-size: 20px;
      padding-top: 15px;
      padding-left: 10px;
    }

    p {
      font-size: 16px;
      text-align: center;
    }

    hr {
      border: none;
      border-top: thin solid $green;
    }

    @media (max-width: 991.98px) {
      display: block;
    }
  }

  @media (max-width: 767.98px) {
    max-width: 800px;
  }

  .article-list {
    margin-top: 16px;
    padding-right: 35px;

    @media (max-width: 992px) {
        padding-right: 15px;
    }

    .article {
      margin-bottom: 30px;

      .article-section {
        height: 275px;
        padding: 20px;

        @media (max-width: 767.98px) {
            height: auto;
        }

        h1 {
          font-size: 18px;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;

          a {
            color: $blue;
          }
        }

        h2 {
          font-size: 17px;

          @media (min-width: 767.98px) {
              position: absolute;
              bottom: 10px;
          }

          a {
            color: $purple;
          }
        }

        p {
          font-size: 15px;
          font-family: 'Lato', sans-serif;
          overflow: hidden;
          position: relative;
          line-height: 1.7em;
          max-height: 6.8em;
          margin-right: -1em;
          padding-right: 1em;
          margin-top: 5px;
          margin-bottom: 7.5px;
        }

        .article-info {
          color: $green;
          padding-bottom: 7.5px;

          span {
            color: #000000;
          }
        }
      }

      .article-image {
        height: 275px;
        background: no-repeat center;
        background-size: cover;
        position: relative;
        border-top-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;

        @media (max-width: 767.98px) {
          border-bottom-left-radius: 0px;
          -webkit-border-bottom-left-radius: 0px;
          border-top-right-radius: 5px;
          -webkit-border-top-right-radius: 5px;
        }
      }

      .bookmark {
        font-size: 20px;
        margin-right: 20px;
        color: $purple;
      }

      .article-border {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }

  .filters-list {
    margin-top: 16px;

    .categories {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      div {
          cursor: pointer;
      }

      h1 {
        font-size: 20px;
        padding-top: 15px;
        padding-left: 10px;
      }

      p {
        font-size: 16px;
        padding-left: 10px;
      }

      hr {
        border: none;
        border-top: thin solid $green;
      }
    }
  }
}

/* END SECTION */

/* AUTH SECTION */

.login-cont {
  padding: 50px 15px 0px 15px;

  h1 {
    padding: 25px 0px;
  }

  .login-form {
    background-color: #FFF;
    max-width: 850px;
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);

    .login-input {
      border: 2px solid $purple;
      font-size: 16px !important;
      height: 40px;
    }

    input:last-Child {
      font-size: 17px;
    }

    p {
      padding-top: 35px;
      text-align: center;
      color: #999;
    }

    a {
      color: #999 !important;
      font-weight: 600;
    }

    img {
      width: 100px;
    }
  }

  .login-links {
    padding-top: 25px;
    width: 350px;
    font-size: 18px;
    font-weight: 700;

    a {
      color: $purple;
    }
  }
}

/* END SECTION */

/* ABOUT PAGE SECTION */

.about {
    .hero-section {
        padding-top: 25px;
        padding-bottom: 50px;
        font-family: Lato;

        .header {
            padding: 25px 0px;
        }

        h1 {
            text-align: center;
            font-size: 34px;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-size: 16px;
            margin: 0;
        }

        hr {
            width: 200px;
            text-align: center;
        }
    }

    .main-section {
        background: rgb(76,199,255);
        background: linear-gradient(180deg, rgba(76,199,255,1) 0%, rgba(0,107,156,1) 100%);
        color: #FFFFFF;
        padding: 50px 0px;

        h2 {
            font-size: 24px;
            text-decoration: underline;
        }

        p {
            font-size: 16px;
        }

        .info-content {
            padding-top: 15px;
        }

        .img-container {
            position: relative;
            width: 150px;
            height: 150px;

            img {
                position: absolute;
                width: 150px;
                height: 150px;
            }
        }
    }
}

/* END SECTION */

/* 404 PAGE */

.not-found {
    .img-container {
        width: 625px;
        height: 550px;
        position: relative;
        padding-top: 75px;

        img {
            width: 625px;
            height: 381px;
            position: absolute;
        }

        @media (max-width: 767.98px) {
            padding-top: 25px;
            width: 300px;
            height: 330px;

            img {
                width: 300px;
                height: 240px;
            }
        }
    }
}

/* END SECTION */

/* ARTICLES SECTION */

.article-view {
  max-width: 900px;
  padding: 20px;

  /* ARTICLES HEADER SECTION */

  .article-header {
    .article-title {
      h1 {
        padding: 10px 0px;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;

        @media (max-width: 767.98px) {
          font-size: 32px;
        }
      }
    }

    .article-header-details {
      padding-top: 10px;

      .author-image {
        img {
          width: 65px;
          height: 65px;
        }
      }

      .author-details {
        font-size: 15px;
        font-family: 'Nunito Sans', sans-serif;

        a {
          color: $purple;
        }

        .author-name {
            color: $purple;
        }
      }

      .article-social-share a{
        color: inherit;
      }

      .category-link {
        color: inherit;

        a {
          color: inherit;

          &:hover {
            color: $purple;
          }
        }
      }

      .article-category {
        font-family:'Nunito Sans', sans-serif;
      }
    }
  }

  /* END SECTION */

  /* ARTICLE BODY SECTION */

  .article-body {
    margin-bottom: 25px;

    p {
      padding: 5px 0px;
      line-height: 30px;
      font-size: 1.05rem;

      @media (max-width: 991.98px) {
        font-size: 0.85rem;
      }
    }

    h1 {
      font-size: 24px;
      padding-top: 5px;
      padding-bottom: 10px;

      @media (max-width: 991.98px) {
        font-size: 22px;
      }
    }

    .article-main-image {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .article-image {
      padding: 20px 0px;
    }

    .alert {
      padding: 5px 15px;
    }

    /* BLOCKQUOTE SECTION */

    .blockquote {
      margin: 0 auto;
      padding: 1em;
      width: 90%;
      border-left: 5px solid #999;

      p {
        color: #555;
        font-size: 12pt;
        line-height: 1.4;
      }

      footer {
        margin-top: .5em;
        padding: 0;
        color: #777;
        font-size: 12pt;
        text-align: left;
        font-style: italic;
      }
    }

    .blockquote:before {
      display: none;
    }

    .blockquote:not(:first-of-type) {
      margin-top: .5em;
    }

    .blockquote footer:before {
      content: '— ';
    }

    .blockquote:nth-of-type(odd) {
      text-align: right;
      border-left: none;
      border-right: 5px solid #999;
    }

    .blockquote:nth-of-type(odd) footer {
      text-align: right;
    }

    .blockquote:nth-of-type(odd) footer:before {
      content: '';
    }

    .blockquote:nth-of-type(odd) footer:after {
      content: ' —';
    }

    /* END SECTION */
  }

    /* ARTICLE BOTTOM */

    .article-bottom {
        h1 {
            font-size: 24px;
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .article-tags {
            padding-bottom: 10px;

            a {
                text-decoration: none;
                color: #FFFFFF;
            }

            kbd {
                margin-right: 10px;
            }
        }

        .article-suggestions {
            h2 {
                font-size: 20px;
                text-align: center;
            }

            a {
                bottom: auto;
                position: relative;
            }

            .card {
                height: auto;
                margin-bottom: 25px;
            }

            .card-body {
                height: 150px;

                @media (max-width: 767.98px) {
                    height: 110px;
                }
            }

            .article-image {
                height: 150px;
                background: no-repeat center;
                background-size: cover;
                position: relative;

                @media (max-width: 767.98px) {
                    height: 250px;
                }
            }
        }
    }

  /* END SECTION */

  .article-newsletter {
    height: 250px;
      margin: 10px 15px 0px;

      .article-newsletter-left-side {
      height: 250px;
      color: #FFFFFF;
      background-color: #9248fc;

      @media (max-width: 767.98px) {
        height: 225px;
      }

      @media (max-width: 375px) {
        height: 250px;
      }

      .newsletter-content {
        padding: 0px 25px;

        @media (max-width: 767.98px) {
          padding: 0px 10px;
        }

        @media (max-width: 375px) {
          padding: 0px 5px;
        }

        form {
          padding: 0px 15px;

          input {
            height: 42px;

            @media (max-width: 375px) {
              font-size: 14px;
            }
          }
          input[type="submit"] {
            background-color: $blue;
            border: 0px;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 16px;

            @media (max-width: 375px) {
              font-size: 14px;
            }
          }
        }

        h1 {
          font-size: 24px;
          font-weight: bold;
        }

        p {
          line-height: 30px;
          font-size: 1.05rem;

          @media (max-width: 991.98px) {
            font-size: 0.9rem;
          }
        }

        .info {
          padding-top: 10px;
          font-size: 14px;
        }
      }
    }
    .article-newsletter-right-side {
      height: 250px;

      img {
        width: 100%;
        height: 250px;
        background-color: #13293D;
      }
    }
  }
}

/* END SECTION */

/* ADMIN PANEL SECTION */

.admin-panel {
    margin: 40px 0px;

    .admin-actions {
        margin-bottom: 50px;

        button {
            border-color: $purple;
            color: $purple;
        }
    }

    .article-list {
        margin-top: 16px;

        @media (max-width: 992px) {
            padding-right: 15px;
        }

        .article {
            margin-bottom: 30px;

            .article-section {
                height: 275px;
                padding: 20px;

                @media (max-width: 767.98px) {
                    height: auto;
                }

                h1 {
                    font-size: 18px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: bold;

                    a {
                        color: $blue;
                    }
                }

                h2 {
                    font-size: 17px;

                    @media (min-width: 767.98px) {
                        position: absolute;
                        bottom: 10px;
                    }

                    a {
                        color: $purple;
                    }
                }

                p {
                    font-size: 15px;
                    font-family: 'Lato', sans-serif;
                    overflow: hidden;
                    position: relative;
                    line-height: 1.7em;
                    max-height: 6.8em;
                    margin-right: -1em;
                    padding-right: 1em;
                    margin-top: 5px;
                    margin-bottom: 7.5px;
                }

                .article-info {
                    color: $green;
                    padding-bottom: 7.5px;

                    span {
                        color: #000000;
                    }
                }
            }

            .article-image {
                height: 275px;
                background: no-repeat center;
                background-size: cover;
                position: relative;
                border-top-left-radius: 5px;
                -webkit-border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                -webkit-border-bottom-left-radius: 5px;

                @media (max-width: 767.98px) {
                    border-bottom-left-radius: 0px;
                    -webkit-border-bottom-left-radius: 0px;
                    border-top-right-radius: 5px;
                    -webkit-border-top-right-radius: 5px;
                }
            }

            .bookmark {
                font-size: 20px;
                margin-right: 20px;
                color: $purple;
            }

            .article-border {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
        }

        .article:nth-child(even) {
            @media (min-width: 991.98px) {
                padding-right: 40px;
            }
        }
    }
}

/* END SECTION */

/* CATEGORIES SECTION */

.list-categories {
    margin: 40px 0px;

    h2 {
        margin-bottom: 10px;
    }

    #addCategory {
        border-color: $purple;
        color: $purple;
        margin-right: 10px;
    }

    .addPlaceholder {
        margin-top: 10px;
        border-color: $purple;
        border-top-right-radius: 0;
        -webkit-border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
    }

    .addButton {
        margin-top: 10px;
        border-top-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        border-left: 0;
        background-color: $purple;
        color: #FFFFFF;
    }

    table {
        margin-top: 40px;

        thead {
            background-color: $purple;
            border-color: $purple;
            color: #FFFFFF;

            th {
                font-weight: bold;
            }
        }

        button {
            width: 75px;
        }
    }
}

/* END SECTION */

.loader {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 200px;
}

.highIndex {
  z-index: 10;
}

.article-footer {
  padding: 10px 20px 0px 20px;
  background-color: $greyFooter;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 185px;

  @media (max-width: 767.98px) {
      height: 255px;
  }

  p {
    @media (max-width: 767.98px) {
        width: 100%;
    }
  }

  .row {
    margin: 0;
  }

  .img-container {
    position: relative;
    width: 35px;
    height: 35px;

    img {
      position: absolute;
      width: 35px;
      height: 35px;
    }
  }

  .social-icons {
    padding: 15px;

    .img-container {
      margin: 0px 7.5px;
    }
  }

  .legal-info {
    color: #FFFFFF;

    p {
      margin: 5px 0px;
      font-family: 'Lato', sans-serif;
    }

    .copyright {
      padding-bottom: 20px;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 10px;
    }

    a {
      color: #FFFFFF;
    }
  }
}
